/*This is the styles for deafult*/
:root {
    --main : #371d31;
    --primary: #563c50;
    --secondary: #f95950;
    --base: #edd1cb;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Abeezee', sans-serif;
}
body, html {
    margin: 0;
    border: 0;
    padding: 0;
	overflow-x: hidden;
}
.fadeOut{
	transition: .8s;
	opacity: 0;
}
.top-over{
	z-index: 999;
	top: 30vh;
	transition: .5s;
}
.fadeIn{
	opacity: 1;
	transition-duration: .8s;
	transition: 1s;
}
@keyframes startFromBottom {
	from{opacity: 0; top: 20vh;}
	to{opacity: 1; top: 42vh;}
}
@keyframes startFadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes startSlidingRight {
	from {transform: translateX(-80%); opacity: 0;}
	to {transform: translateX(0); opacity: 1;}
}
@keyframes startSlidingLeft {
	from {transform: translateX(80%); opacity: 0;}
	to {transform: translateX(0); opacity: 1;}
}
/* end the defaults styles */


.left-hero {
    width: 48%;
    height: 92vh;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    background-image: url(../images/people-laughing.jpg);
    background-size: cover;
	transition-delay: 1s;
	transition-duration: .4s;
	animation: startSlidingRight 3s;

}
.right-hero {
    width: 48%;
    height: 92vh;
    margin-left: 2%;
    margin-top: 2%;
    float: right;
}

.right-hero h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-37%);
    font-size: 700%;
    color: var(--secondary);
	animation: startFadeIn 3s;
	transition-delay: .3s;
	transition-duration: .4s;
}

/*The toggle*/
#higher-right-hero{
    float: right;
    margin-right: 7%;
}
.bar1, .bar2, .bar3{
    width: 30px;
    height: 2px;
    margin: 5px 0px;
    background: #999;
    transition: .6s;
}
.activated .bar1{
    transform: rotate(-45deg) translate(-9px, 6px);
}
.activated .bar2{
    opacity: 0;
}
.activated .bar3{
    transform: rotate(225deg) translate(3px, 0px);
}


/*lower right corner of the hero*/
.lower-right-hero {
    margin-top: 54%;
	transition: .4s;
}
.lower-right-hero p{
	margin: -2px 0 0 0;
	font-size: 13px;
	color: #666;
	margin-left: 10%;
	font-family: var(--primary-font);
}
/*p tags with different timing of animation*/
.lower-right-hero p:nth-child(1) {
	animation: startSlidingLeft 2s ease;
}
.lower-right-hero p:nth-child(2) {
	animation: startSlidingLeft 2.2s ease;
}
.lower-right-hero p:nth-child(3) {
	animation: startSlidingLeft 2.4s ease;
}
.lower-right-hero p:nth-child(4) {
	animation: startSlidingLeft 2.6s ease;
}
#login-form {
	width: 200px;
	height: auto;
	margin-left: 42%;
	top: 1.5vh;
	transform: translateX(-50%);
	position: relative;
	text-align: center;
	padding: 20px;
	border: .5px solid #333;
}
#icon-login-form {
	width: 65px;
	height: 78px;
	border-radius: 100%;
	background-color: floralwhite;
	position: absolute;
	top: -40px;
	left: 87.5px;
}
#login-form input {
	width: 100%;
}
#nickname-login {
	margin-top: 59px;
	height: 30px;
	border: 0;
}
#pass-login {
	margin-top: 10px;
	height: 30px;
	border: 0;
}
#button-login-form {
	margin-top: 15px;
	border-radius: 7px;
	bottom: 20px;
	height: 30px;
	width: 55px;
}

/*The layer behind*/
.first-layer {
	width: 80%;
	height: 900px;
	background-color: #f2f2f2;
	position: absolute;
	z-index: -1;
	right: 5%;
	top: 42vh;
	animation: startFromBottom 3s ease;
}

/*the navigation menu*/
.side-menu {
}
